.period {
  width: 36%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  background-color: #808080;
  border-radius: 50px;
  border: #333 solid 3px;
}

.period-btn {
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  background-color: white;
  transition: 0.3s;
}

.period-btn:hover {
  background-color: #f0f0f0;
}

.period-btn.active {
  background-color: #4a90e2;
  color: white;
}

.period-btn.active:hover {
  background-color: #357abd;
}
